body {
  font-family:Helvetica;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: lightseagreen;
  font-weight:bolder;
  margin: 0px auto;
  border-bottom: 3px solid lightgrey;
  padding: 10px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0px;
}

nav {
  position: fixed;
  z-index: 10;
  top:115px;
  width: 100%;
  background: white;
  white-space: nowrap;
  margin-top: 0px;
}

nav li {
  text-align: center;
  display: inline;
  margin: 10px;
  padding: 5px 10px;
  color: black;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

nav a {
  color: grey;
  text-decoration: none;
}

.content {
position: relative;
padding-top: 170px;
width: 100%;
}

p {
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

.projects {
  width: 70% auto;
}

.container {
  text-align: center;
  display: inline-block;
  padding: 50px;
  border: 2px solid black;
  margin: 30px;
}

.container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container:hover {
  opacity: .5;
}

#dasmoto {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/101/241/non_2x/free-abstract-background-4-vector.jpg');
}
