html {
  font-size: 16px;
}

body {
  font-family: Helvetica;
  color: #4d4d4d;
  text-align: center;
}

header {
  display: flex;
  flex-shrink: 2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: white;
  margin: 0;
  width: 100%;
  border: 1px solid lightgrey;
  opacity: 1;
  height: 80px;
}

header img {
  position: fixed;
  background-color: white;
  left: 10px;
  max-height: 80px;
}

nav {
  display: flex;
  position: absolute;
  align-items: center;
  right: 10px;
  top: 0;
  height: 80px;
  margin: 0;
  background-color: white;
}

nav a {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.current {
  background-color: #f2f2f2;
  height: 80px;
}

.content {
  display: block;
  position: relative;
  top: 100px;
  width: 100%;
}

p {
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

p a {
  color: #d4aa37;
  text-decoration: none;
}

.follow-me a {
  margin: 10px;
}

/* Projects Page */
.projects {
  width: 80%;
  margin: auto;
}

.container {
  display: inline-flex;
  margin: 0.5rem;
}

.container a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: 12rem;
  width: 16rem;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.container:hover {
  opacity: .5;
}


/* Project image backgrounds */

#dasmoto a {
  background-image: url('../images/pexels147469.jpeg');
}

#excursion a {
  background-image: url('../images/BW6.jpg');
  opacity: .9;
}

#broadway a {
  background-image: url('../images/pexels28452.jpg');
  opacity: .9;
}

#mytimes a {
  background-image: url("../images/images.jpg");
  opacity: .9;
}

#teacozy a {
  background-image: url("../images/TeaCup.jpg");
  opacity: .9;
}

#secretagent a {
  background-image: url("../images/1.jpg");
  opacity: .8;
}

#toirtoise a {
  background-image: url("../images/tortoise.png");
  opacity: .8;
}

#colmar a {
  background-image: url("../images/Higher-Education.jpg");
  opacity: .8;
}
