body {
  font-family: Helvetica;
  color: #4d4d4d;
  text-align: center;
}

header {
  display: flex;
  flex-shrink: 2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: white;
  margin: 0;
  width: 100%;
  border: 1px solid lightgrey;
  opacity: 1;
  height: 80px;
}

header img {
  position: fixed;
  background-color: white;
  left: 10px;
  max-height: 80px;
}

nav {
  display: flex;
  position: absolute;
  align-items: center;
  right: 10px;
  top: 0;
  height: 80px;
  margin: 0;
  background-color: white;
}

nav a {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.current {
  background-color: #f2f2f2;
  height: 80px;
}

.content {
  display: block;
  position: relative;
  top: 100px;
  width: 100%;
}

p {
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

p a {
  color: #d4aa37;
  text-decoration: none;
}

.follow-me a {
  margin: 10px;
}

/* Projects Page */
.projects {
  width: 80%;
  margin: auto;
}

.container {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding: 60px;
  margin: 30px;
  width: 150px;;
}

.container a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.container:hover {
  opacity: .5;
}

#dasmoto {
  background-image: url('../images/pexels147469.jpeg');
  background-position: center;
  background-size: cover;
}

#excursion {
  background-image: url('../images/BW6.jpg');
  background-size: cover;
}

#broadway {
  background-image: url('../images/pexels28452.jpg');
  background-size: cover;
}

#mytimes {
  background-image: url("../images/photography-indie-art.jpg");
  background-size: cover;
}

#teacozy {
  background-image: url("../images/TeaCup.jpg");
  background-position: center;
  background-size: cover;
}
